
      /* COLORS */

      /* цвет основного текста  #2E2F42 */
      /* вторичный цвет текста  #434455 */
      /* белый                  #FFFFFF */
      /* акцент                 #4D5AE5 */
      /* цвет фона(background)  #E5E5E5 */
      /* вторичный цвет фона    #F4F4FD */
      /* цвет текста футера     #E7E9FC */
      /* btn background         #404BBF */


/* ----------------------------index------------------------- */

:root{
    --body-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --white:  #FFFFFF;
    --accent: #4D5AE5;
    --background-color: #E5E5E5;
    --secondary-background-color: #F4F4FD;
    --color-footer-text: #E7E9FC;
    --btn-background: #404BBF;
}


.page{
    color: var(--body-text-color);
    background-color: var(--background-color);
}

ul{
    list-style: none;
}

/* Header */

.logo{
    color: var(--body-text-color);
    text-decoration: none;
}

.logo-web{
    color: var(--accent);
}

.link{
    text-decoration: none;
    color: var(--body-text-color);
}
.link:hover,
.link:focus{
    color: var(--accent);

}

.contacts{
    text-decoration: none;
    color: var(--body-text-color);
}
.contacts:hover,
.contacts:focus{
    color: var(--accent);
}


/* HERO */

.hero-title{
    color: var(--white);
}

.btn{
    color: var(--white);
    background-color: var(--accent);
}
.btn:hover,
.btn:focus{
    color: var(--white);
    background-color: var(--btn-background);
}


/* Section */

.section-title{
   color: var(--body-text-color); 
}

.features-list .title{
    color: var(--body-text-color);
}

.text{
    color: var(--secondary-text-color);
}

/* Secion Two */


/* Section Three */


/* Footer */

.logo-footer a{
    text-decoration: none;
    color: var(--secondary-background-color);
}
.footer-web{
    color: var(--accent);
}
.logo-footer p{
    color: var(--color-footer-text);
}



/* -------------------------Portfolio------------------------------- */


/* Filtr section */

.button{
    color: var(--accent);
    background-color: var(--secondary-background-color);
}
.button:hover,
.button:focus{
    color: var(--white);
    background-color: var(--accent);
}
